
.barre-horizontale {
  overflow: hidden;
  background-color: #FFFFFF;
    box-shadow: 0px 0.2px 7px;
}



.barre-horizontale .search-container {
  float: left;
  margin-left: 25%;

}

.barre-horizontale input[type=text] {
  padding: 6px;
  width : 250%;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 17px;
  border: none;

  background-color: #f2f2f2;

}
